<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>galleta_choco</servlet-name>
        <servlet-class>galleta_choco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>Servlet.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarSesion</servlet-name>
        <servlet-class>Servlet.SCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAgregarCarro</servlet-name>
        <servlet-class>Servlet.SAgregarCarro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFinalizarCompra</servlet-name>
        <servlet-class>Servlet.SFinalizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SAgregarCarro2</servlet-name>
        <servlet-class>Servlet.SAgregarCarro2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFinalizarCompra2</servlet-name>
        <servlet-class>Servlet.SFinalizarCompra2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>galleta_choco</servlet-name>
        <url-pattern>/galleta_choco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/nuevousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarSesion</servlet-name>
        <url-pattern>/SCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAgregarCarro</servlet-name>
        <url-pattern>/SAgregarCarro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFinalizarCompra</servlet-name>
        <url-pattern>/SFinalizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SAgregarCarro2</servlet-name>
        <url-pattern>/SAgregarCarro2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFinalizarCompra2</servlet-name>
        <url-pattern>/SFinalizarCompra2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
